<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mui.min.css">
</head>
<body>
<form class="mui-input-group" action="/admin/login/checkLogin" method="post">
    <div class="mui-input-row">
        <label>用户名</label>
        <input type="text" class="mui-input-clear" placeholder="请输入用户名" name="uname">
    </div>
    <div class="mui-input-row">
        <label>密码</label>
        <input type="password" class="mui-input-password" placeholder="请输入密码" name="upass">
    </div>
    <div class="mui-button-row">
        <button type="submit" class="mui-btn mui-btn-primary" >登录</button>
    </div>
</form>
</body>
</html>