<style type="text/css">

    .view-animate {
        transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
        position: absolute;
        width:100%;

    }

    .view-animate.ng-enter, .view-animate.ng-leave {
        display:block;
        left:0px;
    }

    .view-animate.ng-enter {
        left:100%;
    }
    .view-animate.ng-enter.ng-enter-active {
        left:0px;

    }
    .view-animate.ng-leave.ng-leave-active {

        left:-100%;
    }
</style>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="#!/todo"></a>
    <h1 class="mui-title">修改内容</h1>

</header>
<div class="mui-content">

    <div class="con" style="padding:5px">
    <textarea name="cont" id="" style="width:100%;height:150px;" ng-model="currentData">

    </textarea>
        <a href="#!/todo" class="mui-btn mui-btn-danger" ng-click="edit()">
            提交
        </a>
    </div>
</div>